* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "yekan";
  --primary-color: #108b62;
  --white-color: #fff;
  --text-color: #686f82;
  --red-color: #ef5353;
  --border-color-primary: rgb(233, 233, 233);
  --back-color: #f5f9f8;
  --black-color: #000;
  --orange-color: #f59202;
  --ligth-orange: #f5920299;
  --title-color: #334155;
  --font-color: #686f82cc;
  --secndory-color: #ef53530d;
}
body {
  background-color: var(--back-color);
}
#main {
  margin: 10px 12px auto 27px;
}

/* category */

.forum-categoury {
  display: flex;
  align-items: center;
  margin: 4px 15px 4px 27px;
  padding: 0 27px;
}
.forum-categoury div a {
  color: var(--text-color);
  text-decoration: none;
}
.forum-categoury div:hover {
  color: var(--primary-color);
}
.all-post {
  padding: 11px 0 11px 28px;
  display: flex;
}
.all-post:hover {
  color: var(--primary-color);
}
.user-post {
  padding: 11px 28px 11px 28px;
  display: flex;
}
.fav-post {
  padding: 11px 28px 11px 28px;
  display: flex;
}
.notif {
  padding: 11px 28px 11px 367px;
  display: flex;
}
.forum-categoury i {
  padding: 4px 0 4px 6px;
  width: 16px;
  height: 14px;
}
.forum-categoury i:hover {
  color: var(--primary-color);
}
.forum-categoury a {
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
  padding: 4px 6px;
}
.forum-categoury a:hover {
  color: var(--primary-color);
}
.forum-categoury .numof {
  margin: 7px 6px 4px 0 !important;
  height: 16px;
  width: 16px;
  border-radius: 24px;
  background-color: var(--background-icon);
  font-size: 10px;
}

/*  post cards*/
.post-cards {
  .container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    background: var(--white-color);
    border-radius: 16px;
    height: 166px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.05);
    margin: 10px 12px 0px 27px;
    @media (max-width: 570px) {
        padding: 16;
        height: auto;
      }
  }
  .post-card {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
  }
  .card-left {
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
    gap: 8px;
    /* margin-top: 18px; */
    /* padding: 16; */
    /* padding: 16px; */
    /* margin: 18px 21px 18px 20px; */
  }
  .back-btn {
    background: transparent;
    border: none;
    font-size: 24px;
    color: var(--text-color);
    /* margin-right: 40px; */
    /* margin-bottom: 12px; */
    cursor: pointer;
    margin-right: auto;
    @media (max-width: 480px) {
      display: none;
    }
  }
  .card-title {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    /* line-height: 26px; */
    word-wrap: break-word;
  }

  .tags {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* margin: 8px 20px 15px 669px !important; */
  }
  .tag-btn {
    display: flex;
    align-items: center;
  }
  .tag {
    background: var(--background-icon);

    color: var(--text-color);
    padding: 4px 10px;
    border-radius: 999px;
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    width: max-content;
  }
  .author {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 570px) {
      display: none;
    }
  }
  .author-container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 570px) {
     
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .author-info {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-right: 5px;
  }
  .author-info .name {
    font-size: 10px;
    font-weight: 500;
    color: var(--text-color);
    /* line-height: 16px; */
  }
  .author-info .time {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-color);
  }
  .meta {
    display: flex;
    gap: 20px;
    /* margin-right: 545px; */
    font-size: 14px;
    font-weight: 500;
    /* line-height: 22px; */
    color: var(--text-color);
  }
  .card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin: 18px 21px 18px 20px;
  }
  .card-image img {
    width: 130px;
    height: 130px;
    border-radius: 16px;
    object-fit: cover;
    @media (max-width: 480px) {
      width: 54px;
      height: 54px;
    }
  }
  .author-small {
    display: none;
    /* background-color: #108b62; */
    @media (max-width: 570px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
        margin: 5px 0px 15px 0px;
        padding:0 18px 0 18px;
      /* flex-direction: column; */
    }
  }
}

/* topic all post */
.topic-all-post {
  margin: 4px 240px 9px 27px;
  background-color: var(--white-color);
  border-radius: 14px;
  display: flex;
}
.topic-continer {
  width: 100%;
}
.topic-all-post h2 {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
}
#topic-heading {
  margin: 18px 2px 18px 12px;
}
#rewiew {
  margin: 12.5px 12px 12.5px 24px;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
#topic-btn {
  margin: 10.5px 24px 10.5px 8px;
  width: 106px;
  color: var(--title-color);
}
#close-btn {
  margin: 10.5px 8px 10.5px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* user comment */

.user-comments {
  margin: 4px 12px 10px 27px;
}
/* #about-user{
    display: flex;
    align-items: center;
}
#about-user img{
    margin: 10px 0 52px 10px;
/* } */

#about-user p {
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  color: var(--title-color);
  margin: 6.5px 10px 6.5px 16px;
}
#about-user span {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: var(--text-color);
}
#comment-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  padding: 1px 38px 1px 0;
}
.comment-content {
  display: flex;
}
.comment-content i {
  margin: 0 14px 0 0;
  width: 13px;
  height: 13px;
  color: var(--font-color);
  line-height: 13px;
}
.comment-content span {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin: 0px 17px 0 0;
  color: var(--font-color);
}
#comment-btn {
  border: 1px solid var(--border-color-primary);
  border-radius: 8px;
  color: var(--title-color);
  background-color: var(--white-color);
  padding: 2px 9.5px;
  font-size: 12px;
}
#like-user {
  display: flex;
  margin: 30px 103px 30px 20px;
}

/* forum notif */
.forum-notif {
  margin: 4px 12px 8px 27px;
}
.notifcation-body-card {
  background-color: var(--secndory-color);
  overflow: hidden;
  border-radius: 14px;
}
.notif-content {
  display: flex;
}
.notif-content i {
  margin: 0 54px 0 0;
  width: 13px;
  height: 13px;
  color: var(--font-color);
  line-height: 13px;
  width: 13px;
  height: 13px;
  line-height: 13px;
  font-size: 16px;
}
.first-section-notif {
  margin: 0;
  padding: 0;
}

.notif-content span {
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  margin: 0px 17px 0 0;
  color: var(--font-color);
}

/* question */
.askQuestion {
  margin: 10px 12px auto 26px;
}
.question-header {
  margin: 31px 510px 23px 483px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.question-header i {
  width: 46px;
  height: 46px;
  background-color: var(--ligth-orange);
  color: var(--white-color);
  border-radius: 11.5px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.question-header p {
  font-size: 24px;
  font-weight: 400;
  line-height: 14px;
  color: var(--title-color);
  margin-top: 24px;
  margin-bottom: 44px;
}

.cards-question {
  display: grid;
  grid-template-columns: repeat(4, 277px);
  width: 1113px;
  margin: 44px 12px 10px 27px;
  gap: 8px;
}
.cards-item {
  width: 100%;
  background-color: var(--white-color);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards-info {
  margin: 12px 23px 12px 9px;
}
.cards-item p {
  color: var(--text-color);
  font-size: 11px;
  font-weight: 400;
  line-height: 24px;
}
.cards-item span {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}
.cards-item i {
  margin: 14px 9px 14px 12px;
  padding: 10px;
  background-color: var(--ligth-orange);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.question-body {
  margin: 10px 12px auto 27px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.question-item {
  background-color: var(--white-color);
  border-radius: 20px;
}
.question-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question-item-header {
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  margin: 18px 21px 4px 15px;
  color: var(--title-color);
}
.question-item span {
  margin: 4px 21px 24px 21px;
  font-size: 11px;
  font-weight: 400;
  color: var(--text-color);
}
